<div class="row">
  <h1 class="display-2">Login</h1>

  <form>
    <div class="row g-3">
      <div class="col-md-12">
        <div class="alert alert-warning" *ngIf="showLoginError">Invalid Credentials</div>
      </div>
      <div class="col-md-12 form-floating">
        <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
        name="username">
        <label class="form-label" for="email">Username</label>
      </div>
      <div class="col-md-12 form-floating">
        <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
        name="password">
        <label class="form-label" for="pwd">Password</label>
      </div>

      <div class="col-md-12">
        <button (click)="doLogin()" href="#" class="btn btn-success">Login</button>
      </div>

      
    </div>
  </form>
</div>