<div class="container my-5">

  <div class="col-sm-8 align-items-center rounded-5 shadow-lg bg-dark text-light text-center px-4 py-5 mb-5 mx-auto">
    <h2 class="display-5 fw-bold">Personal Property Database</h2>
    <p class="lead text-secondary">Made with Java, Postgres, and Angular</p>
    <p>The back end of this app is built using Java with a Spring Boot framework and using Maven as the build tool, while the database is Postgres. The front end is controlled using Angular, Bootstrap, and jQuery. Special attention has been paid to using the responsive design tools available in Bootstrap to ensure a mobile-first design.</p>
  </div>

  <button type="button" class="btn btn-light btn-lg border border-secondary d-block mx-auto" routerLink="/insured-list">
    <code>public static void Main(String[] args) {{ '{' }} {{ '}' }}</code>
  </button>

</div>