<header>
  <app-menu></app-menu>
</header>

<main class="flex-shrink-0">
  <router-outlet class="container d-block"></router-outlet>
</main>

<!-- Responsive Breakpoints
<div class="card w-25 mx-auto">
  <div class="card-body text-center">
    <span class="d-block d-sm-none bg-primary text-white">XS</span>
    <span class="d-none d-sm-block d-md-none bg-secondary text-white">SM</span>
    <span class="d-none d-md-block d-lg-none bg-success text-white">MD</span>
    <span class="d-none d-lg-block d-xl-none bg-danger text-white">LG</span>
    <span class="d-none d-xl-block d-xxl-none bg-warning ">XL</span>
    <span class="d-none d-xxl-block bg-info">XXL</span>
  </div>
</div> -->


<footer class="mt-auto bg-dark">
  <app-footer class="container"></app-footer>
</footer>