<div class="cm-page-content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="btn btn-outline-light d-block d-sm-none" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
          <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
        </svg>
      </button>
      <span class="navbar-brand">Insured Possessions</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class=" col-auto me-auto">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="insured-list">All Items</a>
            </li>
          </ul>
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-light" role="button" routerLinkActive="active" routerLink="insured-create">&plus; New Item</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container bg-light border border-dark p-sm-3 my-sm-4 py-3">
    <router-outlet></router-outlet>
  </div>

</div>

<footer class="flex-shrink-0 py-4 bg-dark text-muted">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a class="nav-link px-2 link-light" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 link-light" routerLink="insured-list">All Items</a>
    </li>
  </ul>
  <p class="text-center"><small><strong>&copy;</strong> Copyright 2022, Clayton Masterson</small></p>
</footer>