<div class="cm-page-content">
  <app-menu></app-menu>

  <div class="container bg-light border border-secondary p-sm-3 my-sm-4 py-3">
    <router-outlet></router-outlet>
  </div>

</div>

<footer class="flex-shrink-0 py-4 bg-dark text-muted">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a class="nav-link px-2 link-light" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 link-light" routerLink="insured-list">All Items</a>
    </li>
  </ul>
  <p class="text-center"><small><strong>&copy;</strong> Copyright 2022, Clayton Masterson</small></p>
</footer>