/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("assets/weixuan-yang-v5ll_U0vhms-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(195, 212, 165);
}

.bi {
  vertical-align: -0.125em;
}

.form-floating > label {
  left: 0.5em !important;
}

/* Enum to Title Case */
.cm-product-type {
  text-transform: lowercase;
}
.cm-product-type::first-letter {
  text-transform: capitalize;
}

/* Add dollar sign to Estimate Value */
.cm-estimated-value::before {
  content: "$";
  margin-right: 0.25em;
}
