<div class="row">
  <h2 class="display-2">Update Item</h2>

  <form (ngSubmit)="onSubmit()" autocomplete="off" class="needs-validation">
    <div class="row g-3">
      <div class="col-md-6 form-floating">
        <input type="text" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="insuredItem.name" required />
        <label class="form-label" for="name">Name</label>
        <div class="invalid-feedback">Name is required.</div>
      </div>
      <div class="col-md-6 form-floating">
        <input type="text" class="form-control" id="authorArtist" name="authorArtist" placeholder="Creator" [(ngModel)]="insuredItem.authorArtist" />          
        <label class="form-label" for="authorArtist">Creator</label>
      </div>

      <div class="col-md-6 form-floating">
        <input type="text" pattern="\d{4}" class="form-control" id="releaseYear" name="releaseYear" placeholder="Release Year" [(ngModel)]="insuredItem.releaseYear" />
        <label class="form-label" for="releaseYear">Release Year</label>
        <div class="invalid-feedback">Must be a year.</div>
      </div>
      <div class="col-md-6 form-floating">
        <input type="text" pattern="\d+\.?\d*" class="form-control" id="estimatedValue" name="estimatedValue" placeholder="Estimated Value" [(ngModel)]="insuredItem.estimatedValue" />
        <label class="form-label" for="estimatedValue">Estimated Value</label>
        <div class="invalid-feedback">Must be a decimal.</div>
      </div>

      <div class="col-md-6 form-floating">
        <select class="form-select" id="productType" name="productType" placeholder="Type" [(ngModel)]="insuredItem.productType" required>
          <option value="GENERAL" selected>General</option>
          <option value="BOOK">Book</option>
          <option value="CLOTHING">Clothing</option>
          <option value="ELECTRONICS">Electronics</option>
          <option value="FURNITURE">Furniture</option>
          <option value="MUSIC">Music</option>
          <option value="VIDEO">Video</option>
        </select>
        <label class="form-label" for="productType">Type</label>
        <div class="invalid-feedback">Type is required.</div>
      </div>
      <div class="col-md-6 form-floating">
        <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Product Code" [(ngModel)]="insuredItem.productCode" />
        <label class="form-label" for="productCode">Product Code</label>
      </div>

      <div class="col-12">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="insuredItem.description"></textarea>
      </div>        

      <div class="col-12">
        <button class="btn btn-outline-success" type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>